#! /bin/bash

zip -r #{ZIP_NAME} index.js

docker run --rm -it -v ~/.aws:/root/.aws -v $PWD:/aws amazon/aws-cli:2.0.24 lambda update-function-code \
--function-name #{FUNCTION_NAME} \
--zip-file fileb://#{ZIP_NAME}