#! /bin/bash

zip -r #{ZIP_NAME} index.js

docker run --rm -it -v ~/.aws:/root/.aws -v $PWD:/aws amazon/aws-cli:2.0.24 lambda create-function \
--function-name #{FUNCTION_NAME} \
--runtime nodejs12.x \
--role #{ATTACH_ROLE} \
--handler index.handler \
--zip-file fileb://#{ZIP_NAME}